# Topic Modeling Assessment Project

For this project I will be working with a dataset of over 400,000 quora questions that have no labeled cateogry, and attempting to find 20 cateogries to assign these questions to. The .csv file of these text questions can be found IN GITHUB.

#### Import pandas and read in the quora_questions.csv file.

In [2]:
import pandas as pd

In [3]:
quora = pd.read_csv('quora_questions.csv')

In [4]:
quora.head()

                                            Question
0  What is the step by step guide to invest in sh...
1  What is the story of Kohinoor (Koh-i-Noor) Dia...
2  How can I increase the speed of my internet co...
3  Why am I mentally very lonely? How can I solve...
4  Which one dissolve in water quikly sugar, salt...

# Preprocessing

#### Use TF-IDF Vectorization to create a vectorized document term matrix.

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
tfidf = TfidfVectorizer(max_df=0.9, min_df=2)

In [13]:
dtm = tfidf.fit_transform(quora['Question'])

In [14]:
dtm

<404289x38972 sparse matrix of type '<class 'numpy.float64'>'
	with 4002064 stored elements in Compressed Sparse Row format>

# Non-negative Matrix Factorization

#### TASK: Using Scikit-Learn create an instance of NMF with 20 expected components. (Use random_state=42)..

In [15]:
from sklearn.decomposition import NMF

In [16]:
nmf = NMF(n_components=20, random_state=42)

In [18]:
nmf.fit(dtm)

C:\Users\PC\anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(

NMF(n_components=20, random_state=42)

#### TASK: Print our the top 15 most common words for each of the 20 topics.

In [25]:
len(tfidf.get_feature_names_out())

38972

In [26]:
for i, topic in enumerate (nmf.components_):
    print(f'The main 15 words for topic #{i}')
    print([tfidf.get_feature_names_out()[i] for i in topic.argsort()[-15:]])
    print('\n')

The main 15 words for topic #0
['effects', 'out', 'battle', 'time', 'rid', 'purpose', 'life', 'all', 'was', 'world', 'most', 'what', 'meaning', 'the', 'of']


The main 15 words for topic #1
['work', 'know', 'weight', 'stop', 'an', 'find', 'from', 'start', 'think', 'with', 'become', 'people', 'get', 'how', 'do']


The main 15 words for topic #2
['they', 'facts', 'people', 'most', 'movies', 'books', 'things', 'about', 'that', 'ways', 'good', 'examples', 'some', 'what', 'are']


The main 15 words for topic #3
['did', 've', 'about', 'love', 'someone', 'know', 'thing', 'that', 'when', 'think', 'would', 'ever', 'if', 'have', 'you']


The main 15 words for topic #4
['have', 'need', 'from', 'time', 'take', 'get', 'ways', 'want', 'possible', 'be', 'like', 'learn', 'way', 'it', 'to']


The main 15 words for topic #5
['2016', 'movie', 'books', 'laptop', 'language', 'programming', 'movies', 'ever', 'learn', 'book', 'under', 'way', 'which', 'the', 'best']


The main 15 words for topic #6
['that', 'than', 'hate', 'is', 'have', 'many', 'don', 'and', 'did', 'do', 'we', 'not', 'so', 'people', 'why']


The main 15 words for topic #7
['lose', 'with', 'weight', 'become', 'an', 'from', 'be', 'learn', 'one', 'find', 'we', 'where', 'get', 'how', 'can']


The main 15 words for topic #8
['meaning', 'most', 'the', 'better', 'com', 'way', 'an', 'like', 'that', 'thing', 'or', 'there', 'it', 'what', 'is']


The main 15 words for topic #9
['any', 'places', 'live', 'many', 'most', 'which', 'job', 'life', 'where', 'engineering', 'world', 'there', 'the', 'india', 'in']


The main 15 words for topic #10
['science', 'western', 'pakistan', 'relationship', 'similarities', 'chinese', 'an', 'compare', 'war', 'differences', 'what', 'the', 'difference', 'between', 'and']


The main 15 words for topic #11
['sex', 'take', 'one', 'when', 'long', 'much', 'what', 'have', 'how', 'feel', 'work', 'like', 'mean', 'it', 'does']


The main 15 words for topic #12
['learning', 'gate', 'books', 'book', 'preparation', 'new', 'engineering', 'free', 'exam', 'an', 'year', '2017', 'good', 'prepare', 'for']


The main 15 words for topic #13
['add', 'delete', 'many', 'instagram', 'people', 'there', 'asked', 'google', 'answer', 'answers', 'ask', 'question', 'questions', 'quora', 'on']


The main 15 words for topic #14
['am', 'girlfriend', 'speaking', 'phone', 'writing', 'gmail', 'increase', 'if', 'password', 'me', 'account', 'skills', 'english', 'improve', 'my']


The main 15 words for topic #15
['black', 'easiest', 'through', 'home', 'easy', 'much', 'youtube', 'how', 'ways', 'way', 'from', 'earn', 'online', 'make', 'money']


The main 15 words for topic #16
['government', 'currency', 'economy', 'india', 'ban', 'indian', 'banning', 'black', 'rupee', 'will', 'rs', 'and', '1000', 'notes', '500']


The main 15 words for topic #17
['resolutions', 'most', 'movie', 'moment', 'resolution', 'favourite', 'new', '2017', 'review', 'year', 'was', 'what', 'favorite', 'life', 'your']


The main 15 words for topic #18
['us', 'happen', 'election', 'hillary', 'or', 'president', 'clinton', 'win', 'would', 'if', 'donald', 'will', 'who', 'be', 'trump']


The main 15 words for topic #19
['be', 'start', 'one', 'their', 'what', 'employees', 'going', 'into', 'new', 'things', 'day', 'at', 'first', 'know', 'should']

#### Add a new column to the original quora dataframe that labels each question into one of the 20 topic categories.

In [47]:
quora.head()

                                            Question  Topic
0  What is the step by step guide to invest in sh...      9
1  What is the story of Kohinoor (Koh-i-Noor) Dia...      0
2  How can I increase the speed of my internet co...     14
3  Why am I mentally very lonely? How can I solve...      7
4  Which one dissolve in water quikly sugar, salt...      9

In [48]:
t_result = nmf.transform(dtm)

In [49]:
t_result[0].round(2)
t_result[0].argmax()

9

In [50]:
t_result.argmax(axis=1)

array([ 9,  0, 14, ...,  8, 12,  4], dtype=int64)

In [51]:
quora['Topic'] = t_result.argmax(axis=1)

In [52]:
quora.head()

                                            Question  Topic
0  What is the step by step guide to invest in sh...      9
1  What is the story of Kohinoor (Koh-i-Noor) Dia...      0
2  How can I increase the speed of my internet co...     14
3  Why am I mentally very lonely? How can I solve...      7
4  Which one dissolve in water quikly sugar, salt...      9